# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.iml
.settings/
.project
.classpath

# Java / Maven
target/
*.class
*.jar
*.war

# Node.js
node_modules/
package-lock.json

# Reports & Results
allure-results/
allure-report/
reports/
*.log

# Cypress
cypress/videos/
cypress/screenshots/
